{{{header}}}

{{!-- <div class="title"><h1 class="bold">Création d'un nouveau projet : </h1></div> --}}
<div class="rowPadding">
  <form action="/addProject" method="POST" style="margin-top:10px;">
    <div class="card">
      <div class="card-header">
          Informations liées au devis
      </div>
      <div class="card-body">
        <div class="row">
            <div class="col-md-12 col-xl-12 col-lg-12 col-sm-12">
              <div style="display: inline-flex; width:100%; justify-content:flex-start;">
                <div class="form-group col-md-4 col-lg-4 col-xl-4 col-sm-4">
                  <h6 style=" font-weight:bold; ">Commercial en charge du projet :</h6> 
                  <select class="example form-control" name="commerciaux" style="margin-top:10px;">
                      <option name="" value="0" selected>Sélectionner un commercial</option>
                      <!-- Popule la dropdown-->
                      {{#each Commerciaux}}
                        <option name="commercial" value="{{id_utilisateur}}">{{nom_utilisateur}} {{prenom_utilisateur}}</option>
                      {{/each}}
                  </select>
                </div>      
                <div class="form-group col-md-5 col-lg-5 col-xl-5 col-sm-5 offset-md-2 offset-lg-2 offset-sm-2 offset-xl-2">
                  <h6 class="bold">Description du devis</h6> 
                  <textarea  style="margin-top:10px;" name="description_devis" class="form-control" placeholder="Description du projet" rows="3"></textarea> 
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>

    <div class="card" style="margin-top:3px;">
      <div class="card-header">
          Informations liées au client
      </div>
      <div class="card-body">
        <div class="row">
            <div class="col-md-12 col-xl-12 col-lg-12 col-sm-12">
              <div style="display: inline-flex; width:100%; justify-content:flex-start;">
                <div class="form-group col-md-6">
                  <h6 class="bold">Nom</h6> 
                  <input required="true" style="margin-top:10px;" type="text" name="nom_client"class="form-control" id="" placeholder="Nom du client" value="">
                </div>
                <div class="form-group col-md-6">
                    <h6 class="bold">Prénom</h6> 
                  <input required="true" style="margin-top:10px;" type="text" name="prenom_client" class="form-control" id="" placeholder="Prénom du client" value="">
                </div>
              </div> 
              <div style="display: inline-flex; width:100%; justify-content:flex-start;">
                <div class="form-group col-md-4">
                  <h6 class="bold">Email</h6> 
                  <input  required="true" style="margin-top:10px;" type="text" name="email_client" class="form-control" id="" placeholder="E-mail" value="">
                </div>
                  <div class="form-group col-md-4">
                  <h6 class="bold">Téléphone portable</h6> 
                  <input  required="true" style="margin-top:10px;" type="text" name="telephone_portable_client" class="form-control" id="" placeholder="Numéro de téléphone portable"  value="">
                </div>
                <div class="form-group col-md-4">
                  <h6 class="bold">Téléphone fixe</h6> 
                  <input  required="true" style="margin-top:10px;" type="text" name="telephone_fixe_client" class="form-control" id="" placeholder="Numéro de téléphone fixe"  value="">
                </div>
              </div> 
              <div style="display: inline-flex; width:100%; justify-content:flex-start;">
                  <div class="form-group col-md-6">   
                    <h6 class="bold">Ville</h6>       
                    <input required="true"  style="margin-top:10px;" type="text" name="ville" class="form-control" id="" placeholder="Ville" value="">
                  </div>
                  <div class="form-group col-md-2">
                    <h6 class="bold">Adresse</h6> 
                    <input required="true"  style="margin-top:10px;" type="text" name="adresse" class="form-control" id="" placeholder="Adresse" value="">
                  </div>
                  <div class="form-group col-md-2">
                    <h6 class="bold">Code postal</h6> 
                    <input  required="true" style="margin-top:10px;" type="text" name="code_postal" class="form-control" id="" placeholder="Code postal" value="">
                  </div>
                </div>
                <div class="form-group col-md-5">
                  <h6 class="bold">Informations complémentaires</h6> 
                  <textarea  style="margin-top:10px;" name="informations_complementaires" class="form-control" placeholder="Description du projet" rows="3"></textarea> 
                </div>
            </div> 
          </div>
      </div>
    </div>
    <input type="submit" class="btn btn-success" value="Ajouter le projet" style="margin-top:5px;" />
  </form>
</div>

{{{footer}}}