{{{header}}}
<div id="container">
  <div class="row"  style="width: 100%;">
    <div class="col-lg-8 col-md-8 col-sm-8 col-xl-8" style="width: 100%;">
      <div id="draw_div">
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xl-4"  style="width: 100%;">
      <div class="row" style="margin-top:5px;">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xl-8"  style="width: 100%;">
          <nav aria-label="...">
            <ul class="pagination">
              <li class="page-item">
                  <form action="crea_devis" method="POST">
                    <input type="hidden" value="{{IdDevis}}" name="id_devis">
                    <input type="hidden" name="isModified" value="false" />
                    <input type="hidden" value="{{currentStage}}" name="etagePrecedent"/>
                    <input class="btn-success btn" value="Précédent" type="submit" />
                  </form>              
              </li>
              <!-- Popule la liste des étages-->
              {{#each Devis}}
                  <li class="page-item" title="{{PlanDevis.etage}}">
                    <form action="crea_devis" method="POST">
                      <input type="hidden" value="{{id_devis}}" name="id_devis">
                      <input type="hidden" name="isModified" value="false" />
                      <input type="hidden" value="{{PlanDevis.ordre}}" name="etage"/>
                      <input class="page-link" value="{{PlanDevis.ordre}}" type="submit"/>
                    </form>
                  </li>
              {{/each}}
              <li class="page-item">
                  <form action="crea_devis" method="POST">
                    <input type="hidden" value="{{IdDevis}}" name="id_devis">
                    <input type="hidden" name="isModified" value="false" />
                    <input type="hidden" value="{{currentStage}}" name="etageSuivant"/>
                    <input class="btn-success btn" value="Suivant" type="submit" />
                  </form>              
              </li>
            </ul>
          </nav>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xl-4"  style="width: 100%;">
          <button data-toggle="modal" data-target="#addEtage" class="btn btn-priamry">Ajouter un étage</button>
        </div>        
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12"  style="width: 100%;">
          <div id="modeles_list">
            <div class="title">
              <span>Modèles</span>
            </div>
          </div>      
        </div>
      </div>  
      <form method="POST" action="enregistrerPlan" onsubmit="save()">
        {{#each Devis}}
          <input type="hidden" value="{{id_devis}}" name="id_devis"/>
        {{/each}}
        <input type="hidden" value="{{currentStage}}" name="currentStage"/>
        <input type="hidden" value="" name="plan" id="planInput"/>
        <input type="hidden" value="true" name="isModified"/>
        <button id="save" type="submit" class="btn btn-success">Enregistrer</button>
      </form>
      <div>
        <button data-toggle="modal" data-target="#recapitulatif" class="btn btn-success" style="position: absolute; bottom:5;right:150;">Ouvrir le récapitulatif</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="addEtage" tabindex="-1" role="dialog" aria-labelledby="addEtage" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title bold" id="exampleModalLongTitle">Ajout d'un étage</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="addEtage" method="POST">
        <div class="modal-body">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xl-12">
                  <div>
                    <h6 class="bold inlineBlock">Libelle de l'étage</h6>
                    {{#each Devis}}
                      <input type="hidden" name="id_devis" value="{{id_devis}}"/>
                    {{/each}}
                    <input required="true"  class="inlineBlock form-control" type="text" name="etage"/>
                  </div>
                </div>
              </div>
            </div>
          </div>  
        </div>
        <div class="modal-footer">
          <input type="hidden" name="isModified" value="true"/>
          <input class="btn btn-success" type="submit" value="Ajouter un étage"/>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
        </div>
      </form>
    </div>
  </div>
</div>  

<!-- Modal Récapitulatif-->
<div class="modal fade" id="recapitulatif" tabindex="-1" role="dialog" aria-labelledby="recapitulatif" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title bold" id="exampleModalLongTitle">Récapitulatif des produits et modèles sur le plan</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12"  style="width: 100%;">
          <div id="produits_list">
            <div class="title">
                <span>Récapitulatif</span>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <form action="exportRecapitulatifXLSX" method="POST" onsubmit="ExportRecap()">
          {{!-- <input type="hidden" value="xlsx" name="exportXLSX"> --}}
          <input type="hidden" value="" id="submitedRecapXLSX" name="recap">
          <input type="submit" id="submitRecapXLSX" value="Exporter en XLSX" class="btn btn-success">
        </form>
        <form action="exportRecapitulatifTXT" method="POST" onsubmit="ExportRecap()">
          {{!-- <input type="hidden" value="txt" name="exportTXT"> --}}
          <input type="hidden" value="" id="submitedRecapTXT" name="recap">
          <input type="submit" id="submitRecapTXT" value="Exporter en TXT" class="btn btn-success">
        </form>        
      </div>
    </div>
  </div>
</div>  

<script>
  let model = {{{Modeles}}}
  let plan = {{{Plan}}}
</script>
{{{footer}}}