{{{header}}}
<!-- Affiche la liste des projets -->
{{#each Devis}}
  <div class="row rowPadding">
    <div class="col-md-12 col-xl-12 col-sm-12 col-xs-12 ">
      <div class="list-group-item list-group-item-action borderBoxdevis" style="background-color:#fff1e6;">
        <div class="infoProjet">
          <div class="row" style="width: 100%;">
            <div class="col-md-2 col-xl-2 col-sm-2 col-xs-2">
              <h5 class="bold">Références du devis {{id_devis}}</h5>
            </div>
            <div class="col-md-4 col-xl-4 col-sm-4 col-xs-4">
              <div>
                <h6  class="bold inlineBlock">Date de création : </h6> 
                <p class="inlineBlock">{{ date_creation }}</p>
              </div> 
             <div>
                <h6 class="bold inlineBlock">Avancement : </h6> 
                <p class="inlineBlock"> {{avancement}}</p>
              </div>              
            </div>
            <div class="col-md-4 col-xl-4 col-sm-4 col-xs-4">
              <div>
                <h6 class="bold inlineBlock">Description : </h6> 
                <p class="inlineBlock"> {{description_devis}}</p>
              </div>            
            </div>            
            <div class="col-md-2 col-xl-2 col-sm-2 col-xs-2">
              <div class="divVisualiser">
                <form action="crea_devis" method="POST">
                  <input type="hidden" value="{{id_devis}}" name="id_devis">
                  <input type="hidden" name="isModified" value="false" />
                  <input  type="submit" value="Visualiser" class="btn btn-success btn_visualiser" />
                </form>
              </div>
            </div>                    
          </div>
        </div>
        {{!-- <p class="mb-1">Maison : 5 pièces / 1 terasse</p> --}}
        <div style="display: flex; justify-content:center; align-items:center;width:100%;" id="divArrow_{{id_devis}}" >
          <img id="arrow_{{id_devis}}" width="30px;" height="30px;" src="media/down_arrow.png"/>
        </div>
      </div>
      <div  id="details_{{id_devis}}" style="display:none;">
        <div class="hideDiv" style="width:100%;">
          <div class="list-group-item-hide list-group-item-hide-action" style="width:100%;">
            <div class="row">
              <div class="col-md-6 col-xl-6 col-xs-6 col-sm-6"  style="width:100%;">
                <div class="card">
                  <div class="card-header">
                    Informations devis
                  </div>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-md-6 col-lg-6 col-sm-6 col-xl-6">
                        <div>
                          <h6  class="bold inlineBlock">Nom du commercial :</h6>
                          <p class="inlineBlock">{{Utilisateur.nom_utilisateur}}</p> 
                        </div>
                        <div>
                          <h6 class="bold inlineBlock">Prénom du commercial:</h6>
                          <p class="inlineBlock">{{Utilisateur.prenom_utilisateur}}</p> 
                        </div>
                      </div>
                      <div class="col-md-6 col-lg-6 col-sm-6 col-xl-6">
                        <div>
                          <h6 class="bold inlineBlock">Service :</h6>
                          <p class="inlineBlock">{{Utilisateur.service}}</p> 
                        </div>
                        <div>
                          <h6 class="bold inlineBlock">Poste :</h6>
                          <p class="inlineBlock">{{Utilisateur.poste}}</p> 
                        </div>                     
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12 col-xl-12 col-xs-12 col-sm-12">
                        <div>                       
                          <h6 class="bold inlineBlock">Telephone :</h6>
                          <p class="inlineBlock">{{Utilisateur.telephone_utilisateur}}</p> 
                        </div>
                        <div>
                          <h6 class="bold inlineBlock">Email :</h6>
                          <a class="inlineBlock" href="mailto:{{Utilisateur.email_utilisateur}}">{{Utilisateur.email_utilisateur}}</a> 
                        </div> 
                      </div>
                    </div>
                  </div>
                </div>               
              </div>
              <div class="col-md-6 col-xl-6 col-xs-6 col-sm-6"  style="">
              <div class="card">
                  <div class="card-header">
                    Informations client
                  </div>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-md-6 col-xl-6 col-xs-6 col-sm-6">
                        <div style="width:100%;">
                          <div>
                            <h6 class="bold inlineBlock">Nom :</h6>
                            <p  class="inlineBlock">{{InformationsClient.nom_client}}</p> 
                          </div>
                          <div>
                            <h6  class="bold inlineBlock">Prénom :</h6>
                            <p  class="inlineBlock">{{InformationsClient.prenom_client}}</p> 
                          </div>
                          <div>
                            <h6 class="bold inlineBlock">Âge :</h6>
                            <p  class="inlineBlock">{{InformationsClient.age_client}}</p> 
                          </div>                              
                        </div>
                      </div>
                      <div class="col-md-6 col-xl-6 col-xs-6 col-sm-6">
                        <div style="width:100%;">
                          <div>
                            <h6 class="bold inlineBlock">Ville :</h6>
                            <p  class="inlineBlock">{{InformationsClient.ville}}</p> 
                          </div>           
                          <div>
                            <h6 class="bold inlineBlock">Code postal :</h6>
                            <p  class="inlineBlock">{{InformationsClient.code_postal}}</p> 
                          </div>  
                          <div>
                            <h6 class="bold inlineBlock">Adresse :</h6>
                            <p  class="inlineBlock">{{InformationsClient.adresse}}</p> 
                          </div>                                                                               
                        </div>
                      </div>                      
                    </div>
                    <div class="row">
                      <div class="col-md-6 col-xl-6 col-xs-6 col-sm-6">
                        <div style="width:100%;">
                          <h6 class="bold inlineBlock" style="display: inline-block; ">Email :</h6>
                          <a  class="inlineBlock" href="mailto:{{InformationsClient.email_client}}">{{InformationsClient.email_client}}</a>                          
                        </div>  
                        <div style="width:100%;">
                          <h6 class="bold inlineBlock" style="display: inline-block;">Téléphone portable :</h6>
                          <p  class="inlineBlock">{{InformationsClient.telephone_portable_client}}</p>                          
                        </div> 
                        <div style="width:100%;display: inline-block;">
                          <h6 class="bold" style="display: inline-block;">Télphone fixe :</h6>
                          <p  class="inlineBlock">{{InformationsClient.telephone_fixe_client}}</p>                          
                        </div>                                                 
                      </div>
                      <div class="col-md-6 col-xl-6 col-xs-6 col-sm-6">
                        <div style="width:100%;">
                          <h6 class="bold">Informations complémentaires :</h6>
                          {{InformationsClient.informations_complementaires}}
                        </div>  
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div id="buttonsDiv">
              <div style="margin-top:3px;">
                <form action="modifyProject" method="POST" style="display: inline-block;">
                  <input type="hidden" value="{{id_devis}}" name="id_devis"/>
                  <input class="btn" style="background-color:#ffb20f;color:#f2f4f3;" value="Modifier" type="submit"/>
                </form>
                <button  style="display: inline-block;color:#f2f4f3; background-color :#ff4b3e;" type="button"  data-toggle="modal" data-target="#exampleModalCenter" class="btn"  id="{{id_devis}}_{{Utilisateur.id_utilisateur}}">Supprimer le projet</button>
              </div>
            </div>
          </div>      
        </div>
      </div>
    </div>
  </div>
{{/each}}

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Suppresion d'un projet</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Voulez vous vraiment supprimer le projet ?</p>
      </div>
      <div class="modal-footer">
        <form action="deleteProject" method="POST" id="deleteProjectForm">
        </form>       
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
      </div>
    </div>
  </div>