{{{header}}}

<!-- Affiche les informations du projet dans les inputs correspondants--> 
{{#each Devis}}

{{!-- <div class="title"><h1 class="bold">Création d'un nouveau projet : </h1></div> --}}
<div class="rowPadding">
  <form action="/updateClientInfos" method="POST" style="margin-top:10px;">
    <div class="card">
      <div class="card-header">
        Informations liées au devis
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-12 col-xl-12 col-lg-12 col-sm-12">
            <div style="display: inline-flex; width:100%; justify-content:flex-start;">
              <div class="form-group col-md-6">
                <h6 style=" font-weight:bold; ">Avancement du projet</h6> 
                <textarea style="margin-top:10px;" name="avancement" class="form-control" placeholder="Avancement du projet..." rows="3"></textarea> 
              </div>      
              <div class="form-group col-md-6 col-xl-6 col-lg-6 col-sm-6">
                <h6 class="bold">Description du devis</h6> 
                <textarea style="margin-top:10px;" name="description_devis" class="form-control" placeholder="Description du projet..." rows="3">{{description_devis}}</textarea> 
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card" style="margin-top: 3px;">
      <div class="card-header">
        Informations liées au client
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-12 col-xl-12 col-lg-12 col-sm-12">
            <div style="display: inline-flex; width:100%; justify-content:flex-start;">
              <div class="form-group col-md-6 col-xl-6 col-lg-6 col-sm-6">
                <h6 class="bold">Nom</h6> 
                <input required="true" type="text" name="nom_client"class="form-control" id="" placeholder="Nom du client" value="{{InformationsClient.nom_client}}">
              </div>
              <div class="form-group col-md-6 col-xl-6 col-lg-6 col-sm-6">
                  <h6 class="bold">Prénom</h6> 
                  <input required="true" type="text" name="prenom_client" class="form-control" id="" placeholder="Prénom du client" value="{{InformationsClient.prenom_client}}">
              </div>
            </div> 
            <div style="display: inline-flex; width:100%; justify-content:flex-start;">
              <div class="form-group col-md-4 col-xl-4 col-lg-4 col-sm-4">
                <h6 class="bold">Email</h6> 
                <input required="true" type="text" name="email_client" class="form-control" id="" placeholder="E-mail" value="{{InformationsClient.email_client}}">         
              </div>
                <div class="form-group col-md-4 col-xl-4 col-lg-4 col-sm-4">
                <h6 class="bold">Téléphone portable</h6> 
                <input required="true" type="text" name="telephone_portable_client" class="form-control" id="" placeholder="Numéro de téléphone portable"  value="{{InformationsClient.telephone_portable_client}}">        
              </div>
              <div class="form-group col-md-4 col-xl-4 col-lg-4 col-sm-4">
                <h6 class="bold">Téléphone fixe</h6> 
                <input required="true" type="text" name="telephone_fixe_client" class="form-control" id="" placeholder="Numéro de téléphone fixe"  value="{{InformationsClient.telephone_fixe_client}}">        
              </div>
            </div> 
            <div style="display: inline-flex; width:100%; justify-content:flex-start;">
                <div class="form-group col-md-6 col-xl-6 col-lg-6 col-sm-6">   
                  <h6 class="bold">Ville</h6>       
                  <input required="true" type="text" name="ville" class="form-control" id="" placeholder="Ville" value="{{InformationsClient.ville}}">          
                </div>
                {{!-- <div class="form-group col-md-4">
                  <select id="" class="form-control" name="region">
                    <option selected>Région</option>
                    <option>BFC</option>
                  </select>
                </div> --}}
                <div class="form-group col-md-2 col-xl-2 col-lg-2 col-sm-2">
                  <h6 class="bold">Adresse</h6> 
                  <input required="true" type="text" name="adresse" class="form-control" id="" placeholder="Adresse" value="{{InformationsClient.adresse}}">          
                </div>
                <div class="form-group col-md-2 col-xl-2 col-lg-2 col-sm-2">
                  <h6 class="bold">Code postal</h6> 
                  <input required="true" type="text" name="code_postal" class="form-control" id="" placeholder="Code postal" value="{{InformationsClient.code_postal}}">
                </div>
              </div>
              <div class="form-group col-md-6 col-xl-6 col-lg-6 col-sm-6">
                <h6 class="bold">Informations complémentaires</h6> 
                <textarea  style="margin-top:10px;" name="informations_complementaires" class="form-control" placeholder="Description du projet" rows="3">{{InformationsClient.informations_complementaires}}</textarea> 
              </div>
          </div> 
        </div>
      </div>
    </div>
    <input type="hidden" name="id_devis" value="{{id_devis}}"/>
    <input type="hidden" name="isModified" value="false" />
    <input type="submit" class="btn btn-success" value="Enregistrer les modifications" style="margin-top: 5px;"/>
  </form>
</div>

{{/each}}

{{{footer}}}