#container
{
    display: flex;
    flex-direction: row;
    flex: 1;
    height: calc(100vh - 56px);
}

#draw_div
{
    max-height: 100%;
    max-width: 100%;
    overflow: auto;
    flex: 4;
    border: solid 1px black;
    border-right: 0;
    position: relative;
}

#draw_div > svg
{
    height: 10000px;
    width: 10000px;
}

.svg_select_points_b, .svg_select_points_t, .svg_select_points_lt, .svg_select_points_rt, .svg_select_points_lb , .svg_select_points_rb
{
    display: none;
}

#produits_list, #modeles_list
{
    flex: 1;
    border: solid 1px black;
}

#modeles_list
{
  border-left: 0;
}

.title
{
  display: flex;
  justify-content: center;
  background-color: gray;
  color: white;
  border-bottom: solid 1px black;
}

.elem
{
    height: 5vh;
    width: 100%;
    border-bottom: solid 1px black;
    text-align: center;
    vertical-align: middle;
    cursor: default;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-fluid
{
    margin: 0;
    padding: 0;
}

text
{
    cursor: default;
    user-select: none;
}

#save
{
    position: absolute;
    bottom: 5px;
    right: 0;
}