*
{
    padding: 0;
    margin: 0;
}

#main
{
    padding: 5px;
}

#Drawtable{
    text-align: center;
}

#ProductsList{
    height: 500px;
    text-align: center;
    overflow: auto;
}

#Recap{
    text-align: center;
}

#main{
    margin-left: 1%;
    margin-right: 1%;
}

#nav-bar{
    background-color: rgb(201, 200, 200);
}

.row {
    display: flex;
  }
  .col {
    flex: 1; 
    padding: 1em;
  }
  .col-6{
    flex: 1; 
    padding: 1em;
    border: solid;
  }

  #explorerPage{
      margin: 10px;
      
  }

  #hideDiv{
    margin: auto;
    width: 70%;
  }

  .hidediv{
      border-top: none;
  }

  .list-group-item-hide{
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
    border-top: none;
  }

  .list-group-item-hide-action{
    width: 100%;
    color: #495057;
    text-align: inherit;
  }

  .list-group-item{
      margin-top: 10px;
      padding:0.25rem 1.25rem;
  }

  .div-info{
      width: 50%;
  }

  #infoDiv{
      display: flex;
  }
  #buttonsDiv{
      text-align: right;
  }

  .title{
      text-align: center;
  }

  #mainPageModif{
      margin: 2%;
  }

  .form-control{
    border-top: none;
    border-right: none;
    border-left: none;
  }

  * {box-sizing: border-box}

/* Set a style for all buttons */


button:hover {
  opacity:1;
}

/* Float cancel and delete buttons and add an equal width */
.cancelbtn, .deletebtn {
    background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  float: left;
  width: 50%;
}

/* Add a color to the cancel button */
.cancelbtn {
  background-color: #ccc;
  color: black;
}

/* Add a color to the delete button */
.deletebtn {
  background-color: #f44336;
}

/* Add padding and center-align text to the container */
.container {
  padding: 16px;
  text-align: center;
}

/*  */

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}


/* Change styles for cancel button and delete button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .deletebtn {
    width: 100%;
  }
}

.borderBoxdevis{
  border-bottom : 2px solid rgba(0,0,0,.125);
}

.btn_visualiser{
  height: 40px;
}

.hideDiv{

}

.card-header{
  background-color : #fff1e6;
  font-weight:bold;
}

.card-body{
  background-color: #FDFDFD;
}

.bold{
  font-weight: bold;
}

body{
  font-family:Arial, Helvetica, sans-serif;
}

.inlineBlock{
  display: inline-block;
}

.btn_visualiser{
}

.infoProjet{
  width: 100%;;
  display: flex;
  justify-content: space-between;
}

.divVisualiser{
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.rowPadding{
  margin-left: 1px;
  width: 99.5%;
}