<!-- Fichier inclu dans chaques vue -->
<html>  
  <head>
    <meta charset="UTF-8">
    <base href="/">
    <!-- A changer. Télécharger bootstrap pour ne plus avoir besoin de connexion internet -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/svg.select.min.css">
    <link rel="stylesheet" type="text/css" href="css/crea_devis.css">
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <script defer src="/fontawesome/js/all.js"></script>
    <script src="/script/svg.js/svg.min.js"></script>
    <script src="/script/svg.js/svg.draggable.min.js"></script>
    <script src="/script/svg.js/svg.select.min.js"></script>
    <script src="/script/svg.js/svg.resize.min.js"></script>
    <script src="script/crea_devis.js"></script>
    <script src="script/index.js"></script>
    <script src="script/hideDetails.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 
  </head>
  <body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color:#8B4513;">
      <div style="display: inline-flex;align-items:center; height:40px;">
        <div>
          <a href="/" ><img width="50px;" height="50px;" src="media/logo-boa.png"/></a>
        </div>
        <div>
          <a class="navbar-brand" href="/"  style="color:white; font-size:35px; margin-left:5px;">Boa</a> 
        </div>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" style="width:100%;" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto" style="display: flex; justify-content:center;width:100%;">
          <li class="nav-item">
              <a class="nav-link" style="color:white; margin-left:5px;" href="/">Accueil</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" style="color:white; margin-left:5px;" href="/ajouterProject">Ajouter un projet<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" style="color:white; margin-left:5px;" href="#">Configuration des produits <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="color:white; margin-left:5px;" href="#">Configuration des gammes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="color:white; margin-left:5px;"  href="#">Stock</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container-fluid">
       

